__pycache__/
*.pyc
.env
.coverage
coverage.xml
.pytest_cache/
.ruff_cache/
.venv/
.vscode/
pyrightconfig.json
*.egg-info/
.gemini/

# Environment specific files
.envrc
.pre-commit-cache/
.virtualenv-appdata/
